@import './base.css';

html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--el-fill-color-extra-light);
}

* {
  box-sizing: border-box;
}

.border-el {
  border: var(--el-border);
}

.img-panel {
  background-color: var(--el-fill-color-extra-light);
}

.el-input__inner {
  spell-check: none;
}